<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    {% load crispy_forms_tags%}
    <link rel="stylesheet" href="{%static 'cssb/bootstrap.min.css' %}">

</head>

<body>
    <div class="container-sm shadow" style="width:400px;margin-top:10%">
        <form action="" method="post">
            {%csrf_token%}
            <label class="form-label"> {{forma.username.label}}</label>
            <span class="form-control">{{forma.username}}</span>
            <label class="form-label"> {{forma.password.label}}</label>
            <span class="form-control">{{forma.password}}</span>
            {{form.errors}}
            <input type="submit" value="login" class="btn btn-success">
            {{form.errors}}
        </form>

        {% for messages in messages%}
        {{messages}}
        {%endfor%}
    </div>
</body>

</html>
</body>

</html>