<!DOCTYPE html>
<html lang="en">
{%extends 'home.html'%}
{%load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%block body%}

<body>
    <div class="container-sm ">
        <div class="card">
            <div class="card-header">{{fn.username}}</div>
            <div class="card-body">{{fn.image.url}}</div>
            <div class="card-footer">change profile</div>

        </div>
    </div>

</body>{%endblock%}

</html>