<div class="fg" style="display:block">
    <div class=" row table table-responsive shadow-lg bg-white" style="width:100%;max-height:400px">
        <div id="result" class="table table-responsive" style="outline: 3px solid black;min-height:400px">
            {%for b in b%}
            <p class="" style="border-radius: 30px 10px; background-color:chartreuse">{{b.msg}}
                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<a href="{%url 'emp:dlm' b.id %}">delete</a></p>{%endfor%}
        </div>


    </div>
    <div class=" row" style="padding-left: 20px;">
        <textarea name=" in" id="in" cols="" rows="3" style="width: 80%;"></textarea> <button class="btn btn-success "
            onclick="send()" style="width: 18%;" id="send">send<i class="bi bi-send"></i></button>

    </div>
</div>
<div class="fga" style="display: none;">
    <div class=" row table table-responsive shadow-lg bg-white" style="width:100%;max-height:400px">
        <div id="result" class="table table-responsive" style="outline: 3px solid black;min-height:400px">

            <br>
            <p class="sn" style="border-radius: 30px 10px; background-color:rgb(156, 225, 232);">

            </p><br>
            <p class="rv" style="border-radius: 30px 10px;  background-color:chartreuse;float:right">
                nothing and how about you
            </p><br>

        </div>


    </div>
    <div class=" row" style="padding-left: 20px;">
        <textarea name="data" id="ina" cols="" rows="3" style="width: 80%;"></textarea> <button class="btn btn-success "
            onclick="sendn()" style="width: 18%;" id="sendn">send<i class="bi bi-send"></i></button>

    </div>
    <div class="container emp-profile bg-info" style="width: 600px;">

        <div class="row bg-success">
            <div class="col-md-3">

                <img src="{% static 'pic/p.jpg'%}" alt="" width="50%">

                <h6 class="text-white p-1">users </h6>

            </div>
            <div class="col-3">
                <h6 class="text-white p-1">chat with manager </h6>
            </div>
            <div class="col-3">

            </div>
            <div class="col-3 " style="">
                <p class="text-white">chat with AI</p>
                <input type="checkbox" name="" id="ai" style="font-size: 130px;">

            </div>





        </div>
        <center>

    </div>

    </center>
</div>